body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#headl{
  font-size: 2.5em;
  font-family: 'Courier New', Courier, monospace;
  color: aqua;
  font-weight: bolder;
  margin-left: 13em;
}

#prgbar{
  width: 50%;
  height: 10px;

}
#prg{
  height: 10px;
  width: 20%;
}
#spinbord1{
  margin-right: 30em;
}

#spinbord2{
  /* margin-left: -82em; */
  float: left;
}